{% extends 'base.html.twig' %}

{% block title %}Techniciens{% endblock %}

{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-md-3">

        <h1 class="text-center">Techniciens</h1>

        {% for tech in liste %}
        <div class="d-grid gap-2 px-2 mb-2">
            <a href="{{path('app_compte_details', {id:tech.id})}}" class="btn btn-secondary">{{tech.nom}} {{tech.prenom}}</a>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}