<div class="site-footer">
    <div class="inner first">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="widget">
                        <h3 class="heading">A propos</h3>
                        <p>Sltek est un leader dans le domaine de la rédaction de contenu. Grâce à nous, une entité
                            à taille humaine, vous accèderez rapidement à un service à l’image de votre entreprise.
                        </p>
                    </div>
                    <div class="widget">
                        <ul class="list-unstyled social">
                            <li><a href="#"><span class="icon-twitter"></span></a></li>
                            <li><a href="#"><span class="icon-instagram"></span></a></li>
                            <li><a href="#"><span class="icon-facebook"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 pl-lg-5">
                    <div class="widget">
                        <h3 class="heading">Pages</h3>
                        <ul class="links list-unstyled">
                            <li><a href="#">Acceuil</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Rédaction</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="widget">
                        <h3 class="heading">Resources</h3>
                        <ul class="links list-unstyled">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="widget">
                        <h3 class="heading">Contact</h3>
                        <ul class="list-unstyled quick-info links">
                            <li class="email"><a href="mailto:contact@sltek.fr"><span
                                        class="__cf_email__">contact@sltek.fr</span></a>
                            </li>
                            <li class="phone"><a href="#">Madagascar : +261 33 11 969 70</a></li>
                            <li class="phone"><a href="#">France : +33 6 50 02 18 03</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner dark">
        <div class="container">
            <div class="row text-center text-md-start">
                <div class="col-md-6 mb-3 mb-md-0">
                    <p>Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Tous droits reservés
                    </p>
                </div>
                <div class="col-md-6 text-md-end">
                    <a href="#" class="mx-2">CGV</a>
                </div>
            </div>
        </div>
    </div>
</div>